
.book_background{

    max-width:100%;
    height:27vw;
    object-fit: contain;
    background-color:#0f4a8a; 
    font-size: 36px;
    
  
}
.book_heading{
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-inline:4vw;
    padding-top: 5vw;
}
.book_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.book_icons_content img{
    display: flex;
    height:60px;
    width:60px;
    object-fit: contain;
    margin-top: 20px;
    padding-left: 1vw;
    position: relative;
    
}
.book_icons_content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:11vw;
    max-height:13vw;
    margin-top: 3vw;
    
    cursor: pointer;
}
.book_icons_content p{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    line-height: 1.5;
    background-size:8px;
    background-position:6px ;
    padding-left: 1vw;
        font-size: 18px;
    color: #fff;
    font-weight: 700;
    font-family: Inter,sans-serif;
   width:40%;
    
   
}
.book_icons_content:hover{

    background: #0d3e80;
    border-radius: 15px;
    transition: 1s;
    transition: width 2s, height 4s;
  
}
    .book_paybill{
         display: flex;
         justify-content: flex-end;
         color: white;
         font-size: 15px;
         max-width: 100%;

            
  
   
}
.book_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.book_name3_icon{
    display: flex;
    float: left;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    
}






@media(max-width:2560px)
{
    .book_icons_content img{
        height:4vw;
        width:4vw;
       
    }
    .book_icons_content p{
        font-size: 25px;
        width: 30%;
    }
    .book_icons_content {

       margin-left: 0px;
      height: 30vw;
      width: 10vw;
    
    }
    .book_icons
    {
        padding-left: 10vw;
        padding-right:10vw ;
    }
    .book_heading{
        margin-inline: 12vw;
    }


}
@media(max-width:1440px)
{
    .book_icons_content img{
        height:60px;
        width:60px;
    }
    .book_icons_content p{
        width:40%;
        font-size: 15px;

    }
    .book_icons_content{
        width:10vw;
        max-height: 13vw;
        margin-left: unset;
     }
     .book_icons
     { 
         padding-left: unset;
         padding-right:unset;
     }
     .book_heading{
         margin-inline: 4vw;
     }

}

@media(max-width:1024px){

    .book_background{
        height:30vw;
    }
    .book_icons_content img{
        height:50px;
        width:50px;

    }
    .book_icons_content p{
        font-size: 13px;
    }
    .book_icons_content{

        width:10vw;
        max-height: 13vw;
        
       
    }
    .book_icons{
        /* background-color: aquamarine; */
        height: 17vw;
    }
}
@media(max-width:768px)
{
    .book_icons_content img{
        height:45px;
        width:45px;
    }
    .book_icons_content p{
        font-size: 13px; 
    }
    .book_background
    {
        height: 35vw;
        max-width: 100%;   
    }
    .book_icons{
       max-width: 100%;
       height: 20vw;
       padding-left: 290px;
       overflow-x: scroll;
       overflow-y: hidden;
       /* column-gap: 70px; */
       /* background-color: aquamarine; */
           
    }
    .book_icons::-webkit-scrollbar{
        display: none;
    }
    .book_icons_content{
        width:43vw;
        max-height:15vw;
        padding-left: 4vw;
        margin-left: 8vw;
        
    }
    
    
    
   

}





@media(max-width:425px)
{
    .book_background{

        height: 55vw;
        max-width: 100%;
    }
    .book_icons_content{
      
        width:43vw;
        max-height:25vw;
        padding-left: 4vw;
        margin-left: 8vw;
       
       
    }
    .book_icons{
        padding-left: 350px;
        height: 30vw;
        padding-top: 10px;
        /* background-color: lightblue; */
    }
    .book_heading{
        font-size: 28px;
    }
    
}

@media(max-width:375px)
{
 .book_background{
     max-width: 100%;
 }
 .book_icons{
     max-width: 100%;
     
 }
 .book_icons_content{
     height: 75vw;
 }
 .book_icons_content img{
    height: 10vw;
    width:10vw;
}
.book_icons_content p{
    font-size: 12px;
}
 .book_heading{
     font-size: 21px;
 }
 .book_background{
    height: 50vw;
}
   
  
    }
@media(max-width:320px)
{
    
    .book_background{
       height: 60vw;
    }
    .book_icons_content{
      
       
        width:22vw;
        max-height:35vw;
        /* background-color: aqua; */
       
    }
    .book_icons{
        max-width: 100%;
       height: 60vw;
       
       padding-left: 320px;
        /* column-gap: 40px; */
       
    }
    .book_icons_content img{
        height: 11vw;
        width:11vw;
        /* background-color: burlywood; */
    }
    .book_icons_content p{
        font-size: 11px;
    }
    .book_heading{
        font-size: 20px;
    }
    .book_icon{
        column-gap: 5px;
    }
}