.background{
    background-color:white;
    max-width: 100%;
    height: 92px;
    box-shadow: 0 5px 20px rgb(0 41 112 / 10%);
    object-fit: contain;
    display: flex;
    align-items: center;
    
}
.header_imgone img
{
    width: 180px;
  
}
.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    align-items: center;
    margin-inline: 65px;
   
   
   
    /* height:100px; */
    
}
.header_content_container{
    display: flex;
    flex-direction: row;
}
.head_text {

    display: flex;
    flex-direction: row;
    column-gap: 40px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    font-family: "Inter" sans-serif;
    position: relative;
    line-height: 1.8;
}
.head_button{
    display:flex ;
    font-weight: 600;
    align-items: center;
    padding-left: 15px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    font-family: Inter,sans-serif;
    height: 38px;
    width: 98px;
    background: #00baf2 url(../images/headerimages/sign.svg) no-repeat right;
    transition: 0.5s;
}
.head_button:hover {
   
    background: #002970 url(../images/headerimages/signin.svg) no-repeat right;

    
  }
  
  
  

  .head_text p:hover 

  {
    background: #f5f7fa;
    display:block;

  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 15vw;
    min-height: 15vw;
    font-family: "Inter" sans-serif;
    font-size: 15px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border: lightgrey solid 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 5px;
    line-height: 1.8;
   /* margin-top:10px; */
   z-index: 100;
 
   
  }
 
  .dropdown-content-two
  {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
    min-width: 14vw;
    min-height: 15vw;
    /* box-shadow:  rgba(0,0,0,0.2); */
    border:  solid 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: nowrap;
   
    
   
  }
 .dropdown-content-three{
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
    min-width: 15.1vw;    /* second dropdown*/
    min-height: 15.3vw;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border: lightgrey solid 1px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */

    white-space: nowrap;
    }
    .dropdown-content-three-second{
        display: none;
        position: absolute;
        background-color: white;
        font-size: 15px;
        min-width: 15.1vw;   
        min-height: 19vw;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        border: lightgrey solid 1px;
        /* border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; */
        z-index: 100;
    
        white-space: nowrap;
    }
    
    .dropdown-content-three-sub{
        display: none;
        position: absolute;
        background-color: white;
        font-size: 14px;
        min-width: 14vw;             /*third dropdown*/
        min-height: 15.3vw;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        border: lightgrey solid 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        white-space: nowrap;
        bottom: 0;
    }
    .dropdown-content-three-sub-section{
        display: none;
        position: absolute;
        background-color: white;
        font-size: 15px;
        min-width: 15.3vw;
        min-height: 22vw;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        border: lightgrey solid 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        white-space: nowrap;
        bottom: 0;
         top: 0vw;
         z-index: 100;
    }
    
    
   


    /* .dropdown-content-three-sub:hover {
       height:15vw;
    } */
   
  
  .head_text .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
   
   
  
  }

   /* .dropdown-content a:hover 
    {
      
    background: #f5f7fa 
    } */
    .dropdown-content-main {
        background:url(../images/headerimages/chevron-right-solid.svg) no-repeat right ;
        background-size: 10px;
        background-position: 12vw;
        transition: 0.4s;
        
    }
    .dropdown-content-main:hover{
        background: #f5f7fa   url(../images/headerimages/arrow-right-solid.svg)  no-repeat right  ;
        background-size: 13px;
        background-position: 12vw;
        transition: 0.4s;
   
    }
    .dropdown-content-main-sub{
        background:url(../images/headerimages/chevron-right-solid.svg) no-repeat right ;
        background-size: 10px;
        background-position: 13vw;
        transition: 0.4s;
    }
    .dropdown-content-main-sub:hover{
        background: #f5f7fa   url(../images/headerimages/arrow-right-solid.svg)  no-repeat right  ;
        background-size: 10px;
        background-position: 13vw;
        transition: 0.4s;
    }
    /* .dropdown-content-three-second{
        background:url(../images/headerimages/chevron-right-solid.svg) no-repeat right ;
        background-size: 10px;
        background-position: 13vw;
        transition: 0.4s;
    }
    .dropdown-content-three-second:hover {
        background: #f5f7fa   url(../images/headerimages/arrow-right-solid.svg)  no-repeat right  ;
        background-size: 10px;
        background-position: 13vw;
        transition: 0.4s;
    } */
    .dropdown-content-three a:hover {
        background: #f5f7fa ;
    }
    .dropdown-content-three-sub-section a:hover{
        background-color: #f5f7fa ;
    }
    .dropdown-content-three-second a:hover{
        background-color: #f5f7fa ;
    }
    

    .head_text p:hover .dropdown-content{
        display: block;
       
        transition: .25s ease-in;
    }
    .dropdown-content:hover .dropdown-content-two {
         display:block;
        transition: .25s ease-in;
    }
    .dropdown-content-main:hover .dropdown-content-three{
        display:block;
       margin-left: 192px;
       bottom:0px;
      }
      .dropdown-content-main:hover .dropdown-content-three-second{
        display:block;
       margin-left: 192px;
       bottom:0px;
      }
    
    .dropdown-content-main-sub:hover .dropdown-content-three-sub{
        display:inline-block;
        margin-left:206px;
       bottom: 0px;
       
    }
    .dropdown-content-main-sub:hover .dropdown-content-three-sub-section{
        display:inline-block;
        margin-left:206px;
       bottom: 0px;
    }
    .dropdown-content:hover .dropdown-content-noarrow{
        display:inline-block;
        margin-left:206px;
       bottom: 0px;
    }

.drawer{
     
    margin-top: 16vw;
    position: absolute;
    display: none;
  
}
 
 .multi-level,.item ul,.nav input[type="checkbox"]{
 display: none;
 }
 #menu:checked ~.multi-level,.item input:checked ~ul{
     display: block;
 }

 label:hover{
     cursor: pointer;
 }
 label{
     width:100%;
     display: block;
     z-index: 3;
     position: relative;
 }
 .nav{
     width:100%;
     background-color: white;
     overflow-x: visible;
     border-bottom: 1px solid #cfdbcf;
 }
 #nav-icon{
     font-size: 28px;
     line-height: 50px;
     padding-left: 1em;
     color: white;
     background-color: burlywood;
 }
 .nav ul,.nav li, label{
     line-height: 50px;
     margin:0;
     padding:0 2em;
     list-style: none;
     text-decoration: none;
     color:brown;
     font-weight: 100;
     width:100%;


 }

 .item ul{
     padding: 0 0.25em;
 }
 .nav li a{
    line-height: 50px;
    margin:0;
    padding:0 4em;
    list-style: none;
    text-decoration: none;
    color:brown;
    font-weight: 100;
  
    
 }
 @media(max-width:2560px)  
{
    .dropdown-content{
        min-width: 9.5vw;
        min-height: 9vw;
    }
    .dropdown-content-main{
        background-position: 7vw;
    }
    .dropdown-content-three{
        min-width: 9vw;
        min-height: 9.2vw;
        /* left:5vw */
    }
    .dropdown-content{
        background-position: 7vw;
    }
    .drawer-content:hover{
        background-position: 1vw;
    }
    .dropdown-content-three-sub{
        min-width: 9vw;
        min-height: 9.2vw;
        left:1vw
    }
    .dropdown-content-three-second{
        min-width: 9vw;
        min-height: 10.2vw;
        left:1.2vw
    }
    .dropdown-content-three-sub-section{
        min-height: 12vw;
        min-width: 9vw;
        left: 1vw;
    }
    .background{
        max-width: 100%;
    }
   
} 


 @media(max-width:1440px)
{
    .dropdown-content{
        min-height: 13.8vw;
        min-width: 15vw;
    }
    .dropdown-content-main{
        background-position: 12vw;
    }
    .dropdown-content-main:hover {
        background-position: 12vw;
    }
    .dropdown-content-three{
        min-height: 13.8vw;
        min-width: 15.3vw;
        left: 20px;
        top: 0vw;
    }
    .dropdown-content-main-sub{
        background-position: 10vw;
    }
    .dropdown-content-main-sub:hover{
        background-position: 20vw;
    }
    .dropdown-content-three-sub{
        min-height: 13.8vw;
        min-width: 14vw;
        left: 0;
        top: 0vw;
    }
    .dropdown-content-three-second{
        min-height: 18vw;
        min-width: 14.3vw;
        left: 1.5vw;
    }
    .dropdown-content-three-sub-section{
        min-height: 22vw;
        min-width: 14vw;
        left: 0vw;
    } 
}

@media(max-width:1366px)
{
    .dropdown-content{
        min-height: 15vw;
        min-width: 15.5vw;
    }
    .dropdown-content-main{
        background-position: 12vw;
    }
    .dropdown-content-main:hover {
        background-position: 12vw;
    }
    .dropdown-content-three{
        min-height: 13.8vw;
        min-width: 15.3vw;
        left: 0;
        top: 0vw;
    }
    .dropdown-content-main-sub{
        background-position: 10vw;
    }
    .dropdown-content-main-sub:hover{
        background-position: 20vw;
    }
    .dropdown-content-three-sub{
        min-height: 13.8vw;
        min-width: 14vw;
        left: 0;
        top: 0vw;
    }
    .dropdown-content-three-second{
        min-height: 19vw;
        min-width: 15vw;
        left: 1.5vw;
    }
    .dropdown-content-three-sub-section{
        min-height: 22vw;
        min-width: 14vw;
        left: 0vw;
    } 
}
     @media(max-width:1024px)
    {
        .head_text{
            white-space: nowrap;
            column-gap: 30px;
            font-size: 14px;
        }
        .dropdown-content{
            min-height: 19vw;
            min-width: 18.6vw;
        }
        .dropdown-content-main{
           background-position : 16vw;
        }
        .dropdown-content-main:hover{
            background-position: 16vw;
        }
        .dropdown-content-main-sub{
            background-position : 14vw;
        }
        .dropdown-content-main-sub:hov{
            background-position : 14vw;
        }
        .dropdown-content-three{
            min-height: 19vw;
            min-width: 20vw;
            left: 0;
        }
        .dropdown-content-three-sub{
            min-height: 19vw;
            min-width: 16.5vw;
            left: 0;
        }
        .dropdown-content-three-second{
            min-height: 25.3vw;
            min-width: 20vw;
            left: 0;

        }
        .dropdown-content-three-sub-section{
            min-width: 17.5vw;
            left: 0;
        }
        
    } 

   @media(max-width:768px)
   {
         .drawer{
            display: none;
        }
        .head_text{
            display: none;
        }
        .header_imgone img{
            width:150px;
            padding-left: 70vw;
        }
        .drawer_content_main{
            display: block;
        }
        .head_button{
            display: none;
        }
    }
    @media(max-width:425px)
    {
        .head_text{
            display: none;
        }
        
        .header_imgone img{
            width:100px;
            padding-left: 50vw;
        }
        .head_button{
            height: 30px;
            width: 80px;
            background-size: 25px;
        }
        
    }
    @media(max-width:320px)
    {
        .head_button{
            display: none;
        }
        .header_imgone img{
            width:100px;
            padding-left: 40vw;
        }
    }

    

  