.paybills_background{

    max-width:100%;
    height:27vw;
    object-fit: contain;
    background-color:#00baf2; 
    font-size: 36px;
}
.paybills_heading{
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-inline:4vw;
    padding-top: 5vw;
}
.paybill_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
}

.paybill_icons_content img{
    display: flex;
    height:60px;
    width:60px;
    object-fit: contain;
    margin-top: 20px;
    padding-left: 1vw;
    position: relative;
    
}
.paybill_icons_content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:11vw;
    max-height:13vw;
    margin-top: 3vw;
    cursor: pointer;
}
.paybill_icons_content p{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    line-height: 1.5;
    background-size:8px;
    background-position:6px ;
    padding-left: 1vw;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    font-family: "Inter" sans-serif;
   width:40%;
    
   
}
.paybill_icons_content:hover{

    background: #00afe3;
    border-radius: 15px;
    transition: 1s;
    transition: width 2s, height 4s;
  
}
    .icon_paybill{
         display: flex;
         justify-content: flex-end;
         color: white;
         font-size: 15px;
         max-width: 100%;

            
  
   
}
.icon_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.name3_icon{
    display: flex;
    float: left;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    
}






@media(max-width:2560px)
{
    .paybill_icons_content img{
        height:4vw;
        width:4vw;
       
    }
    .paybill_icons_content p{
        font-size: 25px;
        width: 30%;
    }
    .paybill_icons_content{
       margin-left: 70px;
    }
    .paybill_icons
    {
        padding-left: 10vw;
        padding-right:10vw ;
    }
    .paybills_heading{
        margin-inline: 12vw;
    }

}
@media(max-width:1440px)
{
    .paybill_icons_content img{
        height:60px;
        width:60px;
    }
    .paybill_icons_content p{
        width:40%;
        font-size: 15px;

    }
    .paybill_icons_content{
        margin-left: unset;
     }
     .paybill_icons
     {
         padding-left: unset;
         padding-right:unset;
     }
     .paybills_heading{
         margin-inline: 4vw;
     }


}

@media(max-width:1024px){

    .paybills_background{
        height:30vw;
    }
    .paybill_icons_content img{
        height:50px;
        width:50px;

    }
    .paybill_icons_content p{
        font-size: 13px;
    }
}
@media(max-width:768px)
{
    .paybill_icons_content img{
        height:45px;
        width:45px;
     
        

    }
    .paybill_icons_content p{
        font-size: 13px; 
    }
    .paybills_background{
        height: 35vw;
        max-width: 100%;
        
        
    }
    .paybill_icons{
       max-width: 100%;
       max-height: auto;
       padding-left: 280px;
       overflow-x: scroll;
       overflow-y: hidden;
       /* column-gap: 70px; */
      
    }
    .paybill_icons::-webkit-scrollbar{
        display: none;
    }
    .paybill_icons_content{
        width:20vw;
        max-height:17vw;
        padding-left: 4vw;
        column-gap: 50vw;
        margin-left: 6vw;
        
    }
    
    
   

}

@media(max-width:425px)
{
    .paybills_background{

        height: 60vw;
        max-width: 100%;
    }
    .paybill_icons_content{
      
      
        width:35vw;
        max-height:30vw;
       
    }
    .paybill_icons{
        max-width: 100%;
       padding-left: 370px;
       position: relative;
        /* column-gap: 40px; */
       
    }
    .paybills_heading{
        white-space: nowrap;
        font-size: 28px;
    }
}

@media(max-width:375px)
{
 .paybills_background{
     max-width: 100%;
 }
 .paybill_icons{
     max-width: 100%;
     
 }
 .paybill_icons_content{
     height: 75vw;
 }
 .paybill_icons_content img{
     height: 10vw;
     width:10vw;
 }
 .paybill_icons_content p{
     font-size: 12px;
 }
 .paybills_heading{
     font-size: 22px;
 }
.paybills_background{
    height: 50vw;
}
   
  
    }
@media(max-width:320px)
{
    
    .paybills_background{
       height: 60vw;
    }
    .paybill_icons_content{
      
       
        width:22vw;
        max-height:35vw;
        /* background-color: aqua; */
       
    }
    .paybill_icons{
        max-width: 100%;
       height: 60vw;
       
       padding-left: 320px;
        /* column-gap: 40px; */
       
    }
    .paybill_icons_content img{
        height: 11vw;
        width:11vw;
        /* background-color: burlywood; */
    }
    .paybill_icons_content p{
        font-size: 11px;
    }
    .paybills_heading{
        font-size: 20px;
    }
    .name3_icon{
        column-gap: 5px;
    }
}
