.learnmore_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    height: 3.5vw;
    width: 10vw;
     color: white;
    white-space: nowrap;
    border-radius: 25px;
    margin-top: 1vw;
   padding-left: 30px;
   font-family: "Inter" sans-serif;
   background:#002970 url(../images/paytmbankingimages/next.png) no-repeat right ;
   background-position: 10vw;

   cursor: pointer;
}

.learnmore_button:hover {
    background: #00baf2 url(../images/paytmbankingimages/right-arrow.png)  no-repeat right  ;
    background-position: 10vw;
}
@media(max-width:2560px)
{
    .learnmore_button{
        height: 50px;
        width: 160px;
        background-position: 150px;
    }
    .learnmore_button:hover
    {
        background-position: 150px;
    }
    
}
@media(max-width:1024px)
{
    .learnmore_button{
       margin-top: 5vw;
        height: 45px;
        width: 150px;
    }
}

@media(max-width:768px)
{
    .learnmore_button
    {
        
        height: 40px;
        width: 150px;
    }
}
@media(max-width:425px)
{
    .learnmore_button
    {
        
        height: 35px;
        width: 120px;
        padding-left: 10px;
        background-position: 25vw;
        background-size: 13px;
    }
    .learnmore_button:hover
    {
        background-position: 25vw;
        background-size: 13px;
    }
}

@media(max-width:375px)
{
    
    .learnmore_button
    {
        
        height: 35px;
        width: 120px;
        padding-left: 10px;
        background-position: 28vw;
        background-size: 13px;
    }
    .learnmore_button:hover
    {
        background-position: 28vw;
        background-size: 13px;
    }
}
@media(max-width:320px)
{
    .learnmore_button{
        background-position: 34vw;
    }
    .learnmore_button:hover
    {
        background-position: 34vw;
    }
}